---
import BaseLayout from '../components/layout/BaseLayout.astro';
---

<BaseLayout title="Ryan McGovern">
  <main>
    <h1>Hello World</h1>
    <p>Site is under construction.</p>
  </main>
</BaseLayout>
